@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --accent-color: #ff0000;
  --bg-light: #eef9bf;
  --fc-title: #75b79e;
  --bg-medium: #a7e9af;
  --border-light: #99cea8;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.container {
  background: var(--bg-light);
  height: 100vh;
  padding: 40px 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: var(--fc-title);
  text-align: center;
  margin-bottom: 45px;

  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 800px;
}

.card {
  width: 117px;
  height: 146px;
  perspective: 1000px;

  /* margin-bottom: 30px; */

  flex-shrink: 0;
}

.card:hover {
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card img {
  width: 100px;
  height: 100px;
}

.selected .card-inner,
.match .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  background: var(--bg-medium);
  border: 1px solid var(--border-light);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  background-image: url("/media/bg.png");
  background-size: 400px;
  background-color: rgba(216, 241, 223, 0.7);

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 250px;
  /* height: 300px; */
  background-color: lightyellow;

  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset * {
  margin-bottom: 15px;
}

legend {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: var(--accent-color);
}

label,
input {
  color: #9f7e69;
}

label span {
  color: var(--accent-color);
  font-weight: 700;
}

input {
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 0 2px var(--accent-color);
  height: 40px;
  width: 150px;

  text-align: center;
  font-size: 20px;
}

input:focus {
  box-shadow: 0 0 0 2px var(--border-light);
  outline: none;
  /* border: transparent; */
}

input:last-of-type {
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 700;
}

input:last-of-type:hover {
  background-color: var(--border-light);
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--border-light);
}

.hidden {
  display: none;
}

@media (max-width: 500px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 36px;
    line-height: 42px;
  }
}
